.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainTitle {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: red;
    text-shadow: yellow;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-1px, 0); }
    20% { transform: translate(1px, 0); }
    30% { transform: translate(-1px, 0); }
    40% { transform: translate(2px, 0); }
    50% { transform: translate(-1px, 0); }
    60% { transform: translate(1px, 0); }
    70% { transform: translate(-1px, 0); }
    80% { transform: translate(1px, 0); }
    90% { transform: translate(-1px, 0); }
    100% { transform: translate(0, 0); }
  }
  
.mainTitle img {
  max-width: 50px;
  border-radius: 180px;
}

