.BotArmy {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 100px;
  }

  .p2 {
    color: red;
    font-size: 20px;
  }

  .BotItem2:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: red;
    text-shadow: yellow;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-2px, 0); }
    20% { transform: translate(2px, 0); }
    30% { transform: translate(-3px, 0); }
    40% { transform: translate(4px, 0); }
    50% { transform: translate(-2px, 0); }
    60% { transform: translate(2px, 0); }
    70% { transform: translate(-2px, 0); }
    80% { transform: translate(2px, 0); }
    90% { transform: translate(-2px, 0); }
    100% { transform: translate(0, 0); }
  }
  


  .BotItem2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  .BotItem2 h3 {
    margin-top: 0;

  }
  
  .BotItem2 img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 150px;
  }
  
  .BotItem2 p {
    margin: 0;
  }
  
  .BotAction {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px;
  }
  
  .BotAction button {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .BotAction button:hover {
    background-color: #8e0000;
  }
  
  .titlee img{
    border-radius: 180px;
    max-width: 40px;
  }